* {
    margin: 0; /*Remove todas as margens externas*/
    padding: 0; /*Remove todos os espaçamentos internos*/
    box-sizing: border-box; /*Deixa a altura e a largura da pag bonitinha*/
    font-family: Arial, sans-serif;
} /* todos os elementos da pagina*/

body {
    background-color: #f5f5f5;
    color: #333; /*Cor do texto*/
    line-height: 1.6; /*Controla o espaçamento de linhas*/
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0; /*Espaçamento interno (pra cima e pra baixo*/
    text-align: center;
}

.menu {
    display: flex;  /*Elemento flexiveis passam a se alinhar de forma horizontal*/
    justify-content: center;
    gap: 20px;
    list-style: none; /*Remove as bolinhas do UL*/
    margin-bottom: 15px;
}

.menu li a {
    color: white;
    text-decoration: none; /*Remove o sublinhado*/
    font-weight: bold; /*Deixa o texto em negrito*/
}

.menu li a:hover {
    text-decoration: underline; /*Faz aparecer o tracinho em baixo do menu*/
}


.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;  /*Deixa a foto redonda*/
    object-fit: cover;  /*Mantem a proporção da imagem e faz com que ela ocupe tudo*/
    margin: 10px auto;  /*Adiciona espaço acima e abaixo da imagem.*/
    border: 3px solid white; /*Adiciona borda*/
}


.container {
    max-width: 900px; /*Largura maxima*/
    margin: 20px auto;
    background: #fff;
    padding: 20px; /*Margem interna*/
    border-radius: 10px; /*Aredonda os cantos*/
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /*Sombra*/
}


section {
    padding: 10px;
}

h2 {
    color: #007BFF;
    margin-bottom: 10px; /*Espaçamento abaixo sobre o procxim texto*/
}


section a {
    color: #007BFF;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline; /*Adiciona sublinhado so qaundo o mause passa em cima*/
}


footer {
    text-align: center;
    padding: 15px 0;
    color: #777;
}


